# Ignore build and IDE files
target/
.idea/
.vscode/
*.iml

# Ignore logs and temporary files
*.log
*.tmp

# Ignore test output
allure-results/
allure-report/
screenshots/

# Ignore OS files
.DS_Store
Thumbs.db
